body {
    font-family: "Bebas Neue", cursive;
}

.kosong{
  height: 2000px;
}

.sosmed{
    background: #000;
    height: fit-content;
}
i{
  color: white;
  margin-top: 10px;
  padding-left: 5px;
  padding-right: 5px;
}

.produk .card{
  margin-top: 20px;
  background: #000;
  margin: 5px;
}

.voucher .card{
  margin-top: 20px;
  background: #000;
  margin: 5px;
}



.produk .card:hover{
  background: rgb(215, 221, 236);
}

.desc{
  background: #000;
  margin-top: 50px;
}

.desc h5, .h6{
  color: white;
}

a{
  color: white;
}

a:hover{
  color: rgb(26, 26, 26);
}

.mg-sm{
  margin: 10px;
}
.mg-lg{
    margin: 50px;
}

.bebas {
  font-family: "Bebas Neue", cursive;
  color: #000;
}

.dongle{
    font-family: "Dongle", sans-serif;
}


.identitas {
  padding-top: 80px;
  padding-bottom: 40px;
}

.footbar {
  background: #000;
  height: fit-content;

  margin-top: 100px;
}

.footbar p {
  color: white;
  font-family: 'Bebas Neue', cursive;

}

